@use "../Global/Styles/variables.scss" as v;

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.page {
  background: v.$bg;
  padding-top: 24px;
  display: flex;
  width: 100%;
}

.container {
  width: 100%;
}

.header {
  text-align: center;
  margin-bottom: 24px;
}
.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 6px;
}
.subtitle {
  color: v.$muted;
}
.subTitle {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0;
  margin: 0;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 500;
  color: #545454;
}
.titlesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.grid {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.stretch {
  width: 100%;
  min-width: 0;
}
.stack {
  display: grid;
  gap: 16px;
}
.inline2 {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
}

.divider {
  margin-top: 8px;
  padding-top: 12px;
  border-top: 1px solid v.$border;
}
.small {
  font-size: 14px;
  color: v.$muted;
}

.heading {
  font-size: 64px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 400;
  color: #252525;
}
.title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;

  letter-spacing: -0.03em;
  line-height: 1.2;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 400;
  color: #252525;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 12px;
}

.link {
  text-decoration: underline;
  font-weight: 500;
  color: #1a73e8;
}

.link:hover {
  text-decoration: none;
}

.short {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  justify-content: stretch;
}

.categoryTitle {
  font-family: "Host Grotesk", sans-serif;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 1.4em;
  color: #252525;
  font-weight: 300;
}

.cardsWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cardsMain{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
