.navItems {
  position: absolute;
  top: 80px; // right below your sticky navbar height
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
  background-color: white; // or whatever background you need
  z-index: 998; // or slightly less than your navWrapper if needed

  &.open {
    max-height: 500px; // or 1000px if needed
  }

  &.closed {
    max-height: 0;
  }
}

  
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 24px;
  }
  
  .listItem {
    font-size: 28px;
    letter-spacing: 0;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Host Grotesk', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
  }
  