* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyTag{
  display: flex;
  justify-content: center;
  background-color: var(--color-bg);
}


* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

body, html {
  font-family: "Host Grotesk", sans-serif;
}

:root {
  --color-primary: #6BA0ED;
  --color-bg: #F3F3F3;
  --color-text: #070707;
}