.page {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.homeSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.productionSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contactSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.consultationSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footerSection {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    display: block;
    margin-top: auto;
    flex-shrink: 0;
}

@media (max-width: 1300px) {
    .homeSection,
    .productionSection,
    .contactSection,
    .consultationSection {
        height: auto;
    }
}
