.page {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100%;

}

.homeSection {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productionSection {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactSection {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeSection,
.aboutSection,
.contactSection {
  scroll-snap-align: start;
}

@media (max-width: 768px) {
    
    /* .productionSection{
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } */
}