.shoppingItemContianer {
  max-width: 347px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.imageWrapper {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;

  .responsiveImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &:hover .responsiveImage {
    transform: scale(1.1);
  }
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.shoppingItemContent {
  display: flex;
  justify-content: space-between;
}

.heading3 {
  font-size: 22px;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-align: left;
  font-weight: 300;
  font-family: "Host Grotesk", sans-serif;
}