.page {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    position: relative;

}

.leftPart {
    max-width: 540px;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url('/compincart.jpeg');
    background-repeat: no-repeat;
    background-position: 70% center;
    background-size: cover;
}

.signUpIndicator {
    position: absolute;
    top: 64px;
    right: 113px;
    font-family: Archivo;
    /* Heading */
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #171A1FFF;
    /* neutral-900 */

}

.rightPart {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 207px 90px;
    /* max-width: 900px; */
}

.signUpIndicatorAnch {
    text-decoration: none;
    color: #AC1947FF;
    /* secondary-700 */
}

.btnsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Archivo;
    /* Heading */
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: black;
    /* primary-500 */
}

.content {
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.conntentUpper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 486px;
}

.orWrapper {
    max-width: 486px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

.orText {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #565E6CFF;
}

.orLine {
    flex-grow: 1;
    height: 1px;
    background-color: #E0E0E0;
    /* neutral-300 */
}

.labelWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.input {
    max-width: 486px;
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 52px;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background: #F3F4F6FF;
    /* neutral-200 */
    border-radius: 6px;
    /* border-m */
    border-width: 0px;
    outline: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    /* padding: ; */
}

.row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 486px;
}



.input:hover {
    color: #BCC1CAFF;
    /* neutral-400 */
    background: #F3F4F6FF;
    /* neutral-200 */
}

/* focused */
.input:focus {
    color: #BCC1CAFF;
    /* neutral-400 */
    background: #FFFFFFFF;
    /* white */
}

/* disabled */
.input:disabled {
    color: #BCC1CAFF;
    /* neutral-400 */
    background: #F3F4F6FF;
    /* neutral-200 */
}


/* Button 1 */
.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFFFF;
    /* white */
    background: #636AE8FF;
    /* primary-500 */
    opacity: 1;
    border: none;
    border-radius: 6px;
    /* border-m */
    height: 52px;
    max-width: 486px;
}

/* Hover */
.submitButton:hover {
    color: #FFFFFFFF;
    /* white */
    background: #4850E4FF;
    /* primary-550 */
}

/* Pressed */
.submitButton:hover:active {
    color: #FFFFFFFF;
    /* white */
    background: #2C35E0FF;
    /* primary-600 */
}

/* Disabled */
.submitButton:disabled {
    opacity: 0.4;
}

.maininputWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.error{
    color: red;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400; 
}


.lowerInputWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}