.page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    overflow-y: auto;
}

.leftPart {
    width: 100%;
    height: 100%;
    background-image: url('/compincart.png');
    background-repeat: no-repeat;
    background-position: 70% center;
    background-size: cover;
}
.titleWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signUpIndicator {    
    display: flex;
    justify-content: flex-end;
    font-family: Archivo;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #171A1FFF;

}

.rightPart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 207px 90px;
    overflow-y: auto;
}

.signUpIndicatorAnch {
    text-decoration: none;
    color: #AC1947FF;
}

.btnsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Archivo;
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 43px;
    position: relative;
}
@media (max-width: 768px) {
    .content {
        gap: 20px;
    }
}

.conntentUpper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 486px;
}

.orWrapper {
    max-width: 486px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

.orText {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #565E6CFF;
}

.orLine {
    flex-grow: 1;
    height: 1px;
    background-color: #E0E0E0;
}

.labelWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-wrap: nowrap;
}

.input {
    max-width: 486px;
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 52px;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    background: #F3F4F6FF;
    border-radius: 6px;
    border-width: 0px;
    outline: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 486px;
}



.input:hover {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}

.input:focus {
    color: #BCC1CAFF;
    background: #FFFFFFFF;
}

.input:disabled {
    color: #BCC1CAFF;
    background: #F3F4F6FF;
}


.submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #FFFFFFFF;
    background: #636AE8FF;
    opacity: 1;
    border: none;
    border-radius: 6px;
    height: 52px;
    max-width: 486px;
}

.submitButton:hover {
    color: #FFFFFFFF;
    background: #4850E4FF;
}

.submitButton:hover:active {
    color: #FFFFFFFF;
    background: #2C35E0FF;
}

.submitButton:disabled {
    opacity: 0.4;
}

.maininputWrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.error{
    color: red;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400; 
}


.lowerInputWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@media (max-width: 1170px) {
    .leftPart {
        display: none;
    }

    .rightPart {
        margin: 0 auto;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
    }
}