.asideCart {
  position: fixed;
  top: 0;
  right: -390px;
  max-width: 390px;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  box-shadow: -2px 0 5px rgba(7, 7, 7, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.open {
  right: 0;
}

.bodyheadingTitle{
  font-size: 24px;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-align: left;
  font-weight: 300;
  font-family: var(--font-satoshi), sans-serif;
}

.bodyheading {
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-align: left;
  font-weight: 300;
  font-family: var(--font-satoshi), sans-serif;
}

.asideCartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  border-bottom: #e7ece5 solid 1px;
}

.closeButton {
  border: none;
  background: none;
}

.cartItemsWrapper {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  height: 100%;
  background-color: var(--color-bg);
}

.cartItem {
  display: flex;
  align-items: center;
  border-bottom: #e7ece5 solid 1px;
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.itemTitle {
  font-family: var(--font-satoshi), sans-serif;
  font-size: 16px;
  line-height: 1em;
  color: var(--color-text);
  font-weight: 300;
}

.cartItemHeader{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cartItemMainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartItemFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartItemColor{
  display: flex;
  align-items: center;
  gap: 8px;
}

.itemColortext{
  color: var(--color-text);
  text-transform: capitalize;
}
.cartItemCloseButton {
  border: none;
  background: var(--color-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.asideCartFooter {
  padding: 16px 16px 24px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.totalPriceWrapper {
  display: flex;
  justify-content: space-between;
}

.btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quantitiesWrapper {
  display: flex;
  border: var(--color-text) solid 1px;
  padding: 4px;
  gap: 8px;
}

.minusbutton {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plusbutton {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutBtn {
  background-color: var(--color-primary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;

  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-align: left;
  font-weight: 300;
  font-family: var(--font-satoshi), sans-serif;
  color: var(--color-bg);
  border: none;
}
.clearCartButton {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;

  font-size: 18px;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-align: left;
  font-weight: 300;
  font-family: var(--font-satoshi), sans-serif;
  color: var(--color-text);
  border: none;
  border: var(--color-text) solid 1px;
}
