.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  flex: 1 1 300px;
  height: 200px;
  padding: 20px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
  border-radius: 12px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 0 8px 20px rgba(7, 7, 7, 0.2);
    transform: translateY(-2px);
    .calculatorLink {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.iconContainer {
  flex-shrink: 0;
  padding: 12px;
  background-color: var(--color-bg);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
    stroke-width: 2;
    color: var(--color-text);
  }
}
.textContainer{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.title {
  display: block;
  font-weight: 200;
  font-size: 24px;
  color: var(--color-text);
}

.subTitle {
  font-size: 0.875rem;
  color: var(--color-text);
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
   -webkit-line-clamp: 3;
  line-clamp: 3;
}

.calculatorLink {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;

  color: var(--color-text);
  text-decoration: underline;
  opacity: 0;
  visibility: hidden;
  transform: translateY(4px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
  text-decoration: none;

  &:hover {
    color: var(--color-text);
  }
  div {
    display: flex;
    align-items: center;
  }
}

.card:hover {
  box-shadow: 0 8px 20px rgba(7, 7, 7, 0.2);
}